.main {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 1.5vh 1vw;
}
.sub_main {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.transaction_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}
.details_container {
  border: 1px solid #eeedf1;
  border-radius: 6px;
  padding: 2vh 1vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading {
  color: #000;
  font-size: 24px;
}
.details_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1vw;
  margin-top: 1vh;
}
.list {
  background-color: #f9faff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5vh 1vw;
}
.list:nth-child(even) {
  background-color: #f5f6ff;
}
.details {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  overflow-y: scroll;
}
.details::-webkit-scrollbar {
  width: 0;
}
.details_heading {
  flex: 1;
  color: #6d6e7e;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.icon {
  font-size: 1.2rem;
}
.details_text {
  flex: 1;
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
}
.details_text:nth-child(2) {
  font-weight: 600;
}
.subdiv {
  display: flex;
  align-items: center;
}
.date_range_container {
  display: flex;
  justify-content: flex-end;
}

.date_input_wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.date_input_wrapper label {
  margin-right: 0.5rem;
}

.date_input_wrapper input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .main {
    border-radius: 0;
    padding: 0;
  }
  .heading {
    font-size: 18px;
    margin-bottom: 0;
  }
  .details_container {
    border: none;
    padding: 1vh 3vw;
  }
  .container {
    gap: 0;
  }
  .sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #b3b3b3;
  }
  .details_container {
    gap: 0px;
  }
  .transaction_header {
    margin-bottom: 0;
  }
}
