.chart_container {
  width: 100%;
  margin-top: 1vh;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .chart_container {
    width: 95%;
    height: 270px;
  }
  .axis {
    font-size: 12px;
  }
}
