.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 52px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.sidenav_body {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 1.25vw;
  align-items: center;
  background-color: #009900;
  color: #ffffff;
}
.profile_icon {
  /* background: rgba(0, 0, 0, 0.06); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  font-size: 30px;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e8ffea;
}
.link {
  padding: 3vh calc(1vw + 5px);
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #1c2137;
}
.active_link {
  font-weight: 700;
  color: #326c37;
}
.link svg {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .link {
    padding: 3vh calc(10px + 3vw);
  }
}
.close_icon {
  padding: 1rem 1rem;
}
.icon {
  z-index: 1;
  font-size: 1.5rem;
  background: #d9d9d9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  color: #000000;
  font-weight: bold;
  padding: 5px;
}
.close_body {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.row {
  flex: 1;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e8ffea;
  cursor: pointer;
}
.sidebar_footer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.sidebar_footer_wrapper {
  margin-top: 40vh;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  color: #999999;
  text-align: center;
}
